server:
  port: 8080
spring:
  application:
    name: accounts
  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: sa
    password: ''
  h2:
    console:
      enabled: true
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: true

build:
  version: "1.0"

accounts: # accounts is prefix - can be anything. we will use this in third method to pull the propery value using @E we would need dto(AccountsContactInfoDto,java ->Record not class or interface ) for that
  message: "Welcome to EazyBank accounts related local APIs"
  contactDetails:
    name: "John Deo - Devloper"
    email: "john@eazybank.com"
  onCallSupport:
    -(555)555-1234
    -(555)523-1345