spring:
    application:
        name: accounts

    datasource:
        url: jdbc:he:memtest.db
        driverClassName: org.h2.Driver
        username: sa
        password: ''
    h2:
        console:
            enabled: true #enable true mean we will able to login to h2 console from browser.
    
    jpa:
        database-platform: org.hibernate.dialect.H2Dialect
        hibernate:
            ddl-auto: update
        show-sql: true

server:
    port: 8080